{
  "openapi": "3.1.0",
  "info": {
    "title": "ONETOO.eu Trust API",
    "version": "1.0.0",
    "description": "Public contract for ONETOO.eu APIs (operated by ONETOO.dynamics). This document is intentionally minimal and expands over time."
  },
  "servers": [
    {
      "url": "https://onetoo.eu"
    }
  ],
  "paths": {
    "/api/v1/index.json": {
      "get": {
        "summary": "API index",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/methodology/snapshot.json": {
      "get": {
        "summary": "Public methodology snapshot",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/incidents/list.json": {
      "get": {
        "summary": "Incident list",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/meta/version.json": {
      "get": {
        "summary": "Version metadata",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Sha256Inventory": {
        "type": "object",
        "description": "Hash inventory of shipped artifacts (SHA-256). Used for audit and offline verification; signed variants are published under /dumps/sigs/.",
        "properties": {
          "generated_at": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "description": "High-level status snapshot.",
        "properties": {
          "status": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Changelog": {
        "type": "object",
        "description": "Changelog feed for trust hub artifacts.",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Incidents": {
        "type": "object",
        "description": "Incident feed for transparency and auditing.",
        "properties": {
          "incidents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TransparencyReport": {
        "type": "object",
        "description": "Transparency snapshot for trust signals (counts, policy changes, incidents). Monetization and affiliate signals are explicitly disabled.",
        "properties": {
          "period": {
            "type": "string"
          },
          "api_requests": {
            "type": "object"
          },
          "affiliate_redirects": {
            "type": "object"
          },
          "top_reason_codes": {
            "type": "array",
            "items": {}
          },
          "policy_changes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "incidents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "notes": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "monetization": {
            "type": "string"
          }
        }
      },
      "Ack": {
        "type": "object",
        "description": "Acknowledgement response.",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Health": {
        "type": "object",
        "description": "Health metadata for the messaging surface.",
        "properties": {
          "status": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "Limits": {
        "type": "object",
        "description": "Rate/size limits for messaging endpoints.",
        "properties": {
          "max_payload_bytes": {
            "type": "integer"
          },
          "rate_limit": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "Contact entry (agent identity or endpoint reference).",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ContactsList": {
        "type": "object",
        "description": "List of contacts.",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "DirectoryEntry": {
        "type": "object",
        "description": "Directory entry describing an agent registration.",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          },
          "endpoints": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "DirectorySearchResults": {
        "type": "object",
        "description": "Directory search results.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectoryEntry"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "description": "Message payload between agents.",
        "properties": {
          "msg_id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "sent_at": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "body": {
            "type": "object"
          }
        }
      },
      "Inbox": {
        "type": "object",
        "description": "Inbox listing for an agent.",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "SendRequest": {
        "type": "object",
        "description": "Request to send a message.",
        "required": [
          "to",
          "type",
          "body"
        ],
        "properties": {
          "to": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "body": {
            "type": "object"
          },
          "idempotency_key": {
            "type": "string"
          }
        }
      }
    }
  }
}
